<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
</head>
<body>
    <h1>MULTIPLE CHOICE QUESTION</h1>
    <form action="check">
    <p>Q1.what is National Flower?</p>
    <input type="radio" id="Rose" name="Flower" value="Rose" checked="checked">
    <label for="Rose">Rose</label><br>
    <input type="radio" id="Lotus" name="flower" value="lotus">
    <label for="lotus">Lotus</label><br>
    <input type="radio" id="Lily" name="flower" value="lily">
    <label for="lily">Lily</label><br>

    <p>Q2.what is National animal?</p>
    <input type="radio" id="Tiger" name="animal" value="tiger" checked="checked">
    <label for="tiger">Tiger</label><br>
    <input type="radio" id="Lion" name="animal" value="lion">
    <label for="lion">Lion</label><br>
    <input type="radio" id="bear" name="animal" value="bear">
    <label for="bear">bear</label><br>

    <p>Q3.what is National sport?</p>
    <input type="radio" id="cricket" name="sport" value="cricket" checked="checked">
    <label for="cricket">cricket</label><br>
    <input type="radio" id="football" name="sport" value="football">
    <label for="football">football</label><br>
    <input type="radio" id="hockey" name="sport" value="hockey">
    <label for="hockey">hockey</label><br>

    <p>Q4.what is father of National?</p>
    <input type="radio" id="Mahatma Gandhi" name="national" value="Mahatma Gandhi" checked="checked">
    <label for="Mahatma Gandhi">Mahatma Gandhi</label><br>
    <input type="radio" id="nehru" name="national" value="nehru">
    <label for="nehru">nehru</label><br>
    <input type="radio" id="Abdul kalam" name="national" value="Abdul kalam">
    <label for="Abdul kalam">Abdul kalam</label><br>

    <p>Q5.what is National Bird?</p>
    <input type="radio" id="peacock" name="bird" value="peacock" checked="checked">
    <label for="peacock">peacock</label><br>
    <input type="radio" id="crow" name="bird" value="crow">
    <label for="crow">crow</label><br>
    <input type="radio" id="eagle" name="bird" value="eagle">
    <label for="eagle">eagle</label><br><br>
    <input type="submit" value="submit">
        
    </form>
</body>
</html>